body{
    margin-left: 0px;
    margin-right: 0px;
}

.header{
    padding-left: 0px;
    padding-right: 0px;
    margin-bottom: 0px;
}

.header,.footer{
    display: flex;
    flex-wrap: wrap;
    color: (80, 79, 79);
    background-color: white;
    justify-content: space-between;
    font-family: 'Montserrat';
    font-weight: 700;
    align-items: center;
}
ul{
    display: flex;
    list-style: none;
    padding: 0px;
    margin: 0px;
}

li{
    padding: 10px;
}

.name{
    font-family: sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    font-size: 16px;
    margin-bottom: 16px;
    color: #2a3166;
}

img{
    max-width: 500px;
    min-width: 100px;
    height: auto;
    flex: 0 auto;
    align-self: center;
    flex-shrink: 1;
    padding: 0px;
    box-shadow: 3px 3px 20px 0px;
}

.main-content{
    padding-top: 100px;
    padding-bottom: 100px;
    background: rgb(71,140,235);
    background: radial-gradient(circle, rgba(71,140,235,0.8295693277310925) 0%, rgba(52,134,208,1) 50%, rgba(1,0,15,1) 100%);
    display: flex;
    justify-content: space-around;
    margin-bottom: 100px;
}

p{
    max-width: 100%;
    font-size: 20px;
    line-height: 170%;
    color: white;
}

.text-container{
    padding: 12px;
    max-width: 40%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.buy-button{
    font-size: 40px;
    display: flex;
    color: white;
    background-color:#2a3166 ;
    transition-duration: 0.4s;
    border-radius: 10px;
    padding: 10px;
}

.buy-button:hover{
    border-color: #2a3166;
    background-color: white;
    color: #2a3166;
}

.content-two{
    display: flex;
    align-content: space-between;
    background-color: rgb(190, 183, 183);
    padding: 20px;
    text-align: center;
    flex-wrap: wrap;
    padding-top: 75px;
    padding-bottom: 75px;

}


.quote{
    display: block;
    text-align: center;
    font-size: 30px;
    width: 100%;
    padding-bottom: 10px;
}

.review-one{
    width: 100%;
    margin-bottom: 60px;
}
.review-two{
    width: 100%;
}

.about-text{
    max-width: 70%;
}

.about{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 100px;
    margin-right: 30px;
    margin-top: 60px;
}

.headshot{
    margin-right: 100px;
    margin-bottom: 50px;
}

h2{
    font-size: 40px;
    color: #2a3166;
    margin-bottom: 0px;
}

.footer{
    
    display: flex;
    justify-content: center;
}

a, a:visited{
    text-decoration: none;
    color: inherit;
}

.about-text{
    color: #2a3166;
}

.hero{
    margin-top: 0px;
    display: flex;
    width: 100%;
    background-image:url("images/HeadshotTshirt-cropjpeg.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 750px;
    padding-left: 16px;
    justify-content: space-between;
    color: white;
    flex-wrap: wrap;
}

.header-img{
    max-width: 100%;
    width: 100%;
    height: auto;
}

h1{
    margin-top: 0px;
    padding-top: 16px;
    font-size: 80px;
    font-family: 'Cabin', sans-serif;
}

.header-links{
    padding-top: 8px;
    padding-right: 8px;
}

.header-top{
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.feature{
    display: flex;
    color: white;
    justify-content: left;
    align-items: flex-end;
    flex-wrap: wrap;
    padding-right: 70%;
    padding-bottom: 50px;
    padding-left: 30px;
    font-size: 40px;
}

