body{
    margin-left: 0px;
    margin-right: 0px;
}



ul{
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    padding: 0px;
    margin: 0px;
}

li{
    padding: 10px;
}

.name{
    font-family: sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    font-size: 16px;
    margin-bottom: 16px;
    color: #2a3166;
}

img{
    max-width: 500px;
    min-width: 100px;
    height: auto;
    flex: 0 auto;
    align-self: center;
    flex-shrink: 1;
    padding: 0px;
    box-shadow: 3px 3px 20px 0px;
}

.main-content{
    background-color: #0F1626;
    padding-top: 100px;
    padding-bottom: 100px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: space-around;
    margin-bottom: 0px;
}

p{
    max-width: 100%;
    font-size: 20px;
    line-height: 170%;
    color: #f5f5f5;
}

.text-container{
    padding: 12px;
    max-width: 40%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.buy-button{
    font-weight: 800;
    font-size: 40px;
    display: flex;
    color: white;
    background-color: #CC5500; ;
    transition-duration: 0.4s;
    border-radius: 10px;
    padding: 10px;
}

.buy-button:hover{
    border-color: #CC5500;
    background-color: white;
    color: #CC5500;
}

.content-two{
    display: flex;
    align-content: space-between;
    background-color: #ab987acc;
    padding: 20px;
    text-align: center;
    flex-wrap: wrap;
    padding-top: 100px;
    padding-bottom: 100px;

}


.quote{
    display: block;
    text-align: center;
    font-size: 30px;
    width: 100%;
    padding-bottom: 10px;
}

.review-one{
    width: 100%;
    margin-bottom: 60px;
}
.review-two{
    width: 100%;
}

.about-text{
    max-width: 70%;
}

.about{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 100px;
    margin-right: 30px;
    margin-top: 60px;
}

.headshot{
    margin-right: 100px;
    margin-bottom: 50px;
}

h2{
    font-size: 40px;
    color: #0F1626;
    margin-bottom: 0px;
}

.footer{
    width: 100%;
    display: flex;
    justify-content: center;
    color: #f5f5f5;
    background-color: #0F1626;
    flex-wrap: wrap;
}

a, a:visited{
    text-decoration: none;
    color: inherit;
}

.about-text{
    color: #0F1626;
}

.hero{
    background-image:url("images/HeadshotTshirt-cropjpeg.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 750px;
    margin-bottom: 10px;
}
.hero,.header{
    margin-top: 0px;
    display: flex;
    width: 100%;
    padding-left: 16px;
    justify-content: space-between;
    color: white;
    flex-wrap: wrap;
    background-color: #0F1626;
}
.header{
    font-family: 'Montserrat';
    align-items: center;
}

ul.header-links{
    padding: 0px;
}

.header h1{
    font-size: 30px;
    display: flex;
}

.header-img{
    max-width: 100%;
    width: 100%;
    height: auto;
}


h1{
    margin-top: 0px;
    padding-top: 16px;
    font-size: 80px;
    font-family: 'Cabin', sans-serif;
    margin-bottom: 0px;
    padding-bottom: 16px;
}

.header-links{
    padding-top: 16px;
    padding-right: 8px;
}

.header-top{
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.feature{
    display: flex;
    color: white;
    justify-content: left;
    align-items: flex-end;
    flex-wrap: wrap;
    padding-right: 70%;
    padding-bottom: 50px;
    padding-left: 30px;
    font-size: 40px;
}

.book-cover{
    transform: perspective(600px) rotateY(0deg);
}

.link-list{
    display: flex;
    justify-content: center;
    width: 100%;
}

.rights{
    color: white;
    font-size: 10px;
}

.divider{
    background-image: url("images/Butterfly\ line.png");
    background-position: center;
    background-repeat: repeat;
    background-size: cover;
    height: 100px;
    width: 100%;
}